.tile {
  display: grid;
  place-content: center;
  width: var(--tile-size, 75px);
  height: var(--tile-size, 75px);
}

.tile .chess-piece {
  width: var(--tile-size, 75px);
  height: var(--tile-size, 75px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--tile-size, 75px);
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}

.black-tile {
  background-color: #779556;
}

.white-tile {
  background-color: #ebecd0;
}

.tile img {
  width: calc(var(--tile-size, 75px) * 0.8);
}

.tile-highlight:not(.chess-piece-tile)::before {
  content: " ";
  width: calc(var(--tile-size, 75px) * 0.27);
  height: calc(var(--tile-size, 75px) * 0.27);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.tile-highlight.chess-piece-tile::before {
  position: absolute;
  content: " ";
  width: calc(var(--tile-size, 75px) * 0.87);
  height: calc(var(--tile-size, 75px) * 0.87);
  border: 5px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.tile-mark-move:not(.chess-piece-tile)::after,
.tile-mark-key:not(.chess-piece-tile)::after {
  content: " ";
  width: calc(var(--tile-size, 75px) * 0.29);
  height: calc(var(--tile-size, 75px) * 0.29);
  border-radius: 50%;
  background-color: rgba(66, 165, 245, 0.75);
}

.tile-mark-key:not(.chess-piece-tile)::after {
  background-color: rgba(255, 193, 7, 0.9);
}

.tile-mark-move.chess-piece-tile,
.tile-mark-key.chess-piece-tile,
.tile-mark-capture,
.tile-mark-wrong,
.tile-mark-correct {
  box-shadow: inset 0 0 0 5px rgba(66, 165, 245, 0.85);
}

.tile-mark-key.chess-piece-tile,
.tile-mark-key {
  box-shadow: inset 0 0 0 5px rgba(255, 193, 7, 0.95);
}

.tile-mark-capture {
  box-shadow: inset 0 0 0 5px rgba(229, 57, 53, 0.9);
}

.tile-mark-wrong {
  box-shadow: inset 0 0 0 5px rgba(229, 57, 53, 1);
}

.tile-mark-correct {
  box-shadow: inset 0 0 0 5px rgba(76, 175, 80, 1);
}
